@import '/_variables.sass'
@import '../../node_modules/bulma/bulma.sass'

.layout
    min-height: 100vh
    display: flex
    flex-direction: column
    background-image: linear-gradient(to top right, #08d1c0 , #094099)
    color: $white
    font-family: $family-sans-serif

.header
    height: 6rem
    background-color: $grey-lighter
    color: $white
    position: fixed
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 1.3rem
    text-transform: uppercase
    a
        margin-left: 2rem
        color: $white
        font-size: 1.8rem
    
main
    flex-grow: 1

nav
    text-transform: uppercase
    font-weight: 700
    ul
        display: flex
        margin-right: 1rem
        li
            margin-right: 1rem
